<div class="items-list">
	<div ng-hide="masterVm.list.length" class="nodata-text">Look, it's empty! Be the first to add here!</div>
	<div class="list-group" ng-if="masterVm.list.length>0">
	  <div class="list-group-item" ng-repeat="board in masterVm.list|filter:masterVm.filterList.filterText|orderBy:['-rating', '-latestPublishDate', '-participants']">
		<div class="board-list-item">
			<a class="title" ng-bind="board.shortText" ui-sref="list.entity({boardId:board.disb_id, board: board})"></a>
			<div style="flex:1 0 auto; display: flex;">
				<div class="rating-compartment">
					<a ng-click="masterVm.saveVote(board, 1)" href ng-if="board.currentUserVote!==1"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
					<span ng-if="board.currentUserVote===1"><i class="fa fa-thumbs-up" style="color: #337ab7;" aria-hidden="true"></i></span>
					<span class="rating-number" ng-bind="board.rating"></span>
					<a ng-click="masterVm.saveVote(board, -1)" href ng-if="board.currentUserVote!==-1"><i class="fa fa-thumbs-up fa-rotate-180" aria-hidden="true"></i></a>
					<span ng-if="board.currentUserVote===-1"><i class="fa fa-thumbs-up" style="color: #337ab7;" aria-hidden="true"></i></span>
					<span style="font-size:0.7em; color:#c1c1c1">{{board.totalVotes}} Votes</span>								
				</div>
				<div class="main-compartment">
					<div class="stats">
						<div style="display:flex; flex-direction: column">
							<i class="fa fa-user-circle-o" style="font-size: 2rem"></i>
							<span ng-bind="board.user"></span>
						</div> | 
						<span ng-bind="board.status || 'open'"></span> | 
						<span>{{board.totalVotes}} Votes</span> | 
						<a style="text-decoration:none; color: darkgray" href ui-sref="list.entity({boardId:board.idf_id, board: board})">{{board.comments.length||0}} <i class="fa fa-commenting-o" style="font-size: 1.1em"></i></a>
					</div>
					<span style="color: #aaa" title="{{board.publishDate}}" ng-bind="board.timeSincePublish"></span>

					<p ng-bind-html="board.description" style="flex: 1 0 auto; margin: 0 0 10px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 1.1em"></p>

					<div style="flex: 1 0 auto;">
						<span ng-if="board.participantsCount>1" style="color: #c1c1c1">{{board.participantsCount}} people discussing this</span>
						<span ng-if="board.participantsCount===1" style="color: #c1c1c1">{{board.participantsCount}} person discussing this</span>
						<span ng-if="board.participantsCount===0" style="color: #c1c1c1">No one is discussing this yet. Be the first one to comment!</span>
						<span ng-if="board.latestPublishDate" title="{{board.latestPublishDate}}" style="color: #c1c1c1"> | Last Update: {{board.timeSinceLatestPublish}}</span>
					</div>
					
					<div style="flex: 1 0 auto; align-self: flex-end; font-weight: bold; text-decoration:none">
						<a ui-sref="list.entity.edit({boardId:board.disb_id})" ui-sref-opts="{location:true}" ng-if="board.editable">Edit</a>
						|
						<a href ui-sref="list.entity({boardId: board.disb_id, board: board})">Comment</a>
					<div>
					
				</div>
			</div>
		</div>
	  </div>	
	</div>
</div>
