<div class="items-list">
	<div ng-hide="masterVm.list.length" class="nodata-text">Look, it's empty! Be the first to add here!</div>
	<div class="list-group" ng-if="masterVm.list.length>0">
	  <div class="list-group-item" ng-repeat="board in masterVm.list|filter:masterVm.filterList.filterText|orderBy:['-rating', '-latestPublishDate', '-participants']">
		<div class="board-list-item">
			
			<div class="left-compartment">
				<div class="user-box" style="">
					<img ng-if="board.user_pic!=='-1'" src="data:image/png;base64,{{board.user_pic}}" class="user-pic"/>
					<i ng-if="board.user_pic==='-1'" class="glyphicon glyphicon-user user-pic"></i>
					<span ng-bind="board.user" class="user-name"></span>
				</div>
				<span class="publish-time" title="{{board.publishDate}}" ng-bind="board.timeSincePublish"></span>
			</div>				
			
			<div class="main-compartment">
				
				<a class="title" ng-bind="board.shortText" ui-sref="list.entity({boardId:board.disb_id, board: board})"></a>

				<div class="stats">
					<span>{{board.visits||0}} <i class="fa fa-eye"></i></span>
					|
					<span>{{board.upvotes}} <i class="fa fa-thumbs-up"></i></span>
					|
					<span>{{board.downvotes}} <i class="fa fa-thumbs-up fa-rotate-180"></i></span>
					|					
					<div ng-if="board.comments.length" style="display:inline-block">
						<span ng-if="board.comments.length">{{board.comments.length}} <i class="fa fa-comments-o"></i></span>
						|
						<span ng-if="board.participantsCount>1">{{board.participantsCount}} people discussing this</span>
						<span ng-if="board.participantsCount===1">{{board.participantsCount}} person discussing this</span>
						|
						<span ng-if="board.latestPublishDate" title="{{board.latestPublishDate}}">Last update {{board.timeSinceLatestPublish}}</span>
					</div>
					<div ng-if="!board.comments.length" style="display:inline-block">
						No one is discussing this yet. Be the first one to <a ui-sref="list.entity({boardId:board.disb_id, board: board})" href>comment</a> !
					</div>
				</div>
									
				<!--<div class="description" ng-bind-html="board.description"></div>-->

			</div>

			<div class="right-compartment">
				<div class="rating-box">
					<span class="subtle">rating</span>				
					<span class="rating-number">{{board.rating}}</span>
					<span class="votes-number">{{board.totalVotes}} Votes</span>
				</div>
			</div>					
			
		</div>
	  </div>	
	</div>
</div>
